#mainDiv{
    text-align: center;
    margin-top: 10%;
    width:300px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #20262E;

    margin-left: 40%;
    background-color: #0f1922;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
#mainDiv img {
    width: 100%;
    margin-top: -25%;
}
#mainDiv h1{
    color: whitesmoke;
    font-size: 18px;
    margin-top: -26%;
    letter-spacing: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#mainDiv form{
    margin-top: 10%;
}
#mainDiv form input{
    text-align: center;
    width: 220px;
    font-style: italic;
    border: hidden;
    border-radius: 1px;
    height: 30px;
    font-size: 15px;
    border-radius: 2px;
}
#adminpass{
    margin-top: 5%;
}
#mainDiv button{
    margin-top: 15%;
    font-size: 13px;
    width: 120px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
