@font-face {
    font-family: NavFont;
    src: url(../fonts/GentiumBookPlus-Bold.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(../fonts/ElMessiri-VariableFont_wght.ttf);
}

header {
    height: 100px;
    z-index: 1;
    top: 0;
    position: sticky;
    transition: 0.3s;
}


#logo-img {
    width: 15%;

    margin-top: -3%;
    margin-left: -2.5%;
    z-index: 1;
}

nav {
    margin-top: -8.5%;
    margin-left: 8.5%;

}


.btn-grad {
    background-image: linear-gradient(to right, #2c3e50 0%, #3498db 51%, #2c3e50 100%);
    text-align: center;
    transition: 0.3s;
    background-size: 200% auto;
    color: white;
    border-radius: 3px;
    position: absolute;
    top: 40px;
    left: 1200px;
    font-size: 15px;
    height: 30px;
    left: 1200px;
    display: block;
    width: 100px;
    height: 38px;
    font-size: 15px;
    font-family: titleFont;
    letter-spacing: 2px;

}

.btn-grad a {
    text-decoration: none;
    color: white;
}

.btn-grad a:hover {
    color: white;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#Background {
    background-color: #0f1922;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: titleFont;
    letter-spacing: 2px;

}

li a:hover {
  color: #bec5cc;
  transition: 0.3s;
  letter-spacing: 3px;

}






@import "https://unpkg.com/open-props";

button {
    font-family: titleFont;
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-5);
    color: var(--gray-8);
    background: var(--gray-0);
    border: 0;
    transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
    transition: transform 0.1s;

}

* {
    box-sizing: border-box;
}

button:hover {
    --y: 0;
    --scale: 1;
    --border-scale: 1;
    letter-spacing: 0px;
}

button:active {
    --y: 5%;
    --scale: 0.9;
    --border-scale: 0.9, 0.8;
}

button:before {
    content: "";
    inset: calc(var(--size-3) * -1);
    border: var(--size-2) solid var(--gray-0);
    transform: scale(var(--border-scale, 0));
    transition: transform 0.125s;

    --angle-one: 105deg;
    --angle-two: 290deg;
    --spread-one: 30deg;
    --spread-two: 40deg;
    --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
    --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
    --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
    --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));

    mask: conic-gradient(transparent 0 var(--start-one),
            white var(--start-one) var(--end-one),
            transparent var(--end-one) var(--start-two),
            white var(--start-two) var(--end-two),
            transparent var(--end-two));

    z-index: 1;
}


.header-img img {
    width: 100%;
    height: 720px;
    margin-top: 10%;
    z-index: -1;
    position: absolute;
    top: -150px;
}

a {
    text-decoration: none;
}

body {
    height: fit-content;
    overflow-x: hidden;
}

header {
    background-color: #20262E;

}

.contacts {
    margin-left: 4.5%;
    height: 550px;
    width: 1200px;
    margin-top: -1%;

}

.socials {
    text-align: center;
    width: 335px;
    margin-left: 65%;
    margin-top: -35%;
    font-family: titleFont;
}

.socials h2 {
    letter-spacing: 2px;
}

.socials img {
    width: 100%;
    margin-left: -30%;
}

#websiteimg {
    margin-top: -20%;
}

#website {
    position: absolute;
    top: 294px;
    left: 1050px;
    text-decoration: none;
    color: #20262E;
}

#emailimg {
    margin-top: -110%;
    width: 115%;
    margin-left: -67%;
}

#email {
    position: absolute;
    top: 345px;
    left: 1050px;
    text-decoration: none;
    color: #20262E;
}

#fbimg {
    margin-top: -96%;
    width: 125%;
    margin-left: -48%;
}

#fb {
    position: absolute;
    top: 407px;
    left: 1050px;
    text-decoration: none;
    color: #20262E;
}

#instaimg {
    margin-top: -110%;
    width: 130%;
    margin-left: -45%;

}

#insta {
    position: absolute;
    top: 465px;
    left: 1050px;
    text-decoration: none;
    color: #20262E;
}

#phoneimg1 {
    margin-top: -85%;
    width: 110%;
    margin-left: -66%;

}

#insta {
    position: absolute;
    top: 465px;
    left: 1050px;
    text-decoration: none;
    color: #20262E;
}

#phone1 {
    position: absolute;
    top: 523px;
    left: 1050px;
    text-decoration: none;
    color: #20262E;
}

#phoneimg2 {
    margin-top: -93%;
    width: 110%;
    margin-left: -66%;
}

#phone2 {
    position: absolute;
    top: 580px;
    left: 1050px;
    text-decoration: none;
    color: #20262E;
}

.emailUs {
    margin-top: -10%;
    margin-left: 7%;
}

.emailUs h2 {
    font-family: titleFont;
    margin-left: 16%;
    letter-spacing: 5px;
    font-size: 55px;
    color: #20262E;
}

.emailForm {
    font-family: titleFont;
    margin-top: 5%;
}

.emailForm label {
    font-size: 19px;

}

.emailForm input {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 0.05px solid #c6c6c6;
    padding-top: 2%;
    width: 225px;
}

#sub {
    position: absolute;
    left: 480px;
    top: 300px;

}

.findUs {
    position: absolute;
    left: 900px;
    top: 150px;
    background-color: #2c3e50;
    width: 380px;
    height: 500px;
    border: hidden;
    border-radius: 10px;
}

.findUs h2 {
    font-size: 55px;
    font-family: titleFont;
    color: #20262E;
    letter-spacing: 5px;
    position: absolute;
    top: 30px;
    left: 30px;
    color: whitesmoke;
}

.findUs img {
    width: 10%;
    margin-top: 8%;
    margin-left: 9%;

}

.f1 p {
    margin-left: 27%;
    margin-top: -8%;
    font-size: 20px;
}

.f2 p {
    font-size: 20px;
    margin-left: 27%;
    margin-top: -8%;
}

.f3 p {
    font-size: 20px;
    margin-left: 27%;
    margin-top: -8%;
}

.f4 p {
    font-size: 20px;
    margin-left: 27%;
    margin-top: -8%;
}

.findUs p {
    color: whitesmoke;
    font-family: titleFont;
}

.f1 {
    margin-top: 25%;
}

#subject {
    position: absolute;
    left: 480px;
    top: 325px;
}

#message {
    height: 50px;
    width: 620px;
    margin-top: -0.5%;
}

.emailForm button {
    margin-left: 22%;
    margin-top: 8.7%;
    width: 150px;
    border-radius: 0px;
    border: hidden;
    height: 40px;
    letter-spacing: 2px;
    width: 120px;
    font-size: 16px;
    background-color: #20262E;
}

.emailForm button:hover {
    cursor: pointer;
    background-color: #c6c6c6;
    color: #20262E;
    cursor: pointer;
    
}

.footer {
    width: 1350px;
    background-color: #0f1922;
    height: 310px;
    margin-top: 7%;
}





.footerPart1 {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 65%;
    top: 620px;
}

.footerPart1 img {
    width: 100%;
    height: 100%;
}

.footerPart2 {
    position: absolute;
    left: 35%;
    top: 770px;
    color: whitesmoke;
    font-family: titleFont;
}

.footerPart2 h3 {
    font-size: 32px;

}

.footerPart2 p {
    font-size: 13px;

}


.footerPart3 {
    position: absolute;
    left: 5%;
    top: 760px;
    color: whitesmoke;
    font-family: titleFont;
}

.footerPart3 a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    margin-left: 1%;
}

.footerPart3 h3 {
    font-size: 32px;

}

.copyright p {
    position: absolute;
    left: 44%;
    top: 995px;
    font-size: 13px;
    color: whitesmoke;
    font-family: titleFont;
}




@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.findUs {
    background: linear-gradient(-45deg, #b4b5b6, #06283D, #2B4865, #7A86B6);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}