@font-face {
    font-family: NavFont;
    src: url(../fonts/GentiumBookPlus-Bold.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(../fonts/ElMessiri-VariableFont_wght.ttf);
}

body {
    background: linear-gradient(-45deg, #b4b5b6, #515154, #9a9b9c, #777479);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


form {
    background: #ffffff;
    margin: 100px auto;
    padding: 15px 40px 40px 40px;
    width: 50%;
    margin-top: 12%;
    font-family: titleFont;
    border-radius: 5px;
    box-shadow: 3px 4px 10px #20262E;

}

.tab p {
    font-size: 20px;
    margin: 0 0 10px 0;
}
form  h1{
    letter-spacing: 5px;
    font-family: titleFont;
}

input {
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #aaaaaa;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    width: 100%;
    font-size: 15px;
    font-family: titleFont;
}

.index-btn-wrapper {
    display: flex;
}

.index-btn {
    margin: 20px 15px 0 0;
    background: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.index-btn:hover {
    opacity: 0.8;
}

.step {
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 0 2px;
    color: white;
    background: #003973;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.25;
}



.btn-grad {
    background-image: linear-gradient(to right, #003973 0%, #E5E5BE 51%, #003973 100%);
    text-align: center;
    margin-left: 30%;
    margin-top: 4%;
    margin-bottom: -4%;
    width: 100px;
    padding: 7px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 12px;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
}
#n1{
    margin-left: 42%;
}
#n2{
    margin-left: 3%;
}
#nf{
    margin-left: 3%;
    font-family: titleFont;
    width: 100px;
    border: none;
}
.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
